<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu Site Node.js</title>
  <link rel="stylesheet" href="/styles.css"> <!-- opcional -->
</head>
<body>
  <h1>Welcome!</h1>
  <h2>Are you looking for some help to plan your vacation? You've just found it here.</h2>

  <!-- Formulário para escolher o cidade -->
  <form action="/travelDataPage" method="POST">
    <label for="city">Choose city:</label>
    <input type="text" id="city" name="city" required>
    <button type="submit">Enviar</button>
  </form>

      
      <% if (city) { %>
        <h3>Olá, <%= city %>!</h3>
      <% } %>  

     <!-- Exibe a mensagem gerada a partir do país escolhido -->
  <% if (mensagem) { %>
    <p><%= mensagem %></p>
  <% } %>
      

  <% if (resultado) { %>
    <div style="margin-top: 20px;">
      <p><%- resultado %></p> <!-- usar <%- %> para renderizar com HTML -->
    </div>
  <% } %>

  <!-- Formulário para destino -->
  <form action="/travelDataPage" method="POST">
    <label for="destiny">Where will you go?</label>
    <input type="text" id="destiny" name="destiny" required>
    <button type="submit">Enviar</button>
  </form>


  <!-- Exibe o destino, se fornecido -->
  <% if (destiny) { %>
    <h3>Olá, <%= destiny %>!</h3>
  <% } %>



  <!-- Formulário para data de viagem -->
  <form action="/travelDataPage" method="POST">
    <label for="nome">When do you plan to travel?</label>
    <input type="text" id="nome" name="nome" required>
    <button type="submit">Enviar</button>
  </form>

  

  <!-- Exibe o nome (data ou outro valor), se fornecido -->
  <% if (nome) { %>
    <h3>Olá, <%= nome %>!</h3>
  <% } %>

  <nav>
    <a href="/about">About</a>
  </nav>
</body>
</html>
